.sendMessageContainer {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-top: 2px solid black;
}

.textInput {
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    border: 2px solid black;
    border-radius: 5px;
    font-size: large;
    font-family: 'Sometype Mono', monospace;
}

.submit {
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 100%;
}